*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
background-color: #444444;
}

.container{
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.header{
  width: 1500px;
  height: 427px;
  background-color: #2A2A2A;
  margin: 0 auto;
}

.movie{
  margin-top: 80px;
}

.enter{
  width: 200px;
  height: 39px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
}

::placeholder{
  color: #757575;
  font-size: 14px;
}

.ol{
  width: 100px;
  height: 39px;
  border-radius: 5px;
  background-color: #EFEFEF;
  border: none;
  color: #000000;
}

.sort{
  width: 101px;
  height: 39px;
  border-radius: 5px;
  border: none;
  background-color: #EFEFEF;
}

.se{
  width: 70px;
  height: 39px;
  border-radius: 5px;
  background-color: #D9534F;
  color: white;
  border: none;
}

.controls {
  display: flex; 
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

.section{
width: 1500px;
display: flex;
justify-content: center;
align-items: center;
background-color: #1a1a1a;
margin: 0 auto;
}

.big{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.card {
background-color: #333333;
border: none;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
width: 250px;
height: 368px;
color: white;
margin: 10px;
}

#movieContainer {
display: flex;
flex-wrap: wrap;
justify-content: center; /* Kartalarni yuqoriga joylashtirish */
align-items: flex-start; 
gap: 20px;
}

.card-image {
width: 214px;
height: 146px;
margin-top: 15px;
}


.card-content {
padding: 15px;
text-align: center;
}

.card-content h3 {
font-size: 18px;
margin: 10px 0;
}   

.card-content p {
font-size: 14px;
color: white;
margin-top: 11px;
}

.card-button {
background-color: #5CB85C;
color: #fff;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
align-self: center; 
margin-top: 20px; 
}

